body {
    font-family: "Lucida Console", Monaco, monospace;
}

.header {
    text-align: center;
    margin: 2rem 2rem 2.5rem;
}

.catsContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    box-sizing: border-box;
}

cat1Container,
cat2Container {
    width: auto;
}

.cat1,
.cat2 {
    display: block;
    margin: auto;
    width: 95%;
}

.clicks {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

/* ///////////////// */

.container {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    height: 600px;
}

.mainContainer {
    /* background: rgb(132, 216, 132); */
    width: 50%;
}

.listContainer {
    /* background: rgb(27, 138, 27); */
    width: 20%;
    padding: 10px 0 10px 10px;
}

.listHeader {
    font-size: 1.5rem;
}

.catName {
    font-size: 1.5rem;
    text-align: center;
}

.cat {
    width: 90%;
}

.list {
    line-height: 1.8;
}
